{% extends "layouts/main.html" %}

{% block pageTitle %}Creative Writing and English (BA) (Hons) – Find courses and training – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back to search results", href: "/Search_results" }) }}
{% endblock %}

{% block content %}
   <section class="fac-course-details-hero">
    <div class="govuk-width-container fcat-course-page__hero-inner fcat-course-page__hero-inner--compact">
      <div class="fcat-course-page__hero-copy">
        <h1 class="govuk-heading-xl fcat-course-page__hero-title">Creative Writing and English (BA) (Hons)</h1>
      </div>
    </div>
  </section>
  <div class="govuk-width-container">
  <div class="govuk-inset-text">
    <h2 class="govuk-heading-m">Eligibility and funding</h2>
    <div class="govuk-!-padding-bottom-1"></div>
      All information shown within these results is taken from a third party. You can check with the course or training provider for rules about funding and eligibility
    </div>
  </div>
  

  <div class="govuk-width-container">

   
    <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      About the course
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          Degree<br>
            <a class="govuk-link" href="https://www.skillsforcareers.education.gov.uk/pages/training-choice/higher-education" target="_blank" rel="noopener noreferrer">Learn about Degrees (opens in new tab)</a>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Level
        </dt>
        <dd class="govuk-summary-list__value">
          6        
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Entry requirements
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tuition fee
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
          The University of Westminster
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Overview
        </dt>
        <dd class="govuk-summary-list__value">
          You will need to visit the institution’s website for information about this course.
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
  </div>
</div>

    <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Location
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          University
        </dt>
        <dd class="govuk-summary-list__value">
          The University of Westminster
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">View website</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Campus name
        </dt>
        <dd class="govuk-summary-list__value">
          Regent Campus        
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Campus address
        </dt>
        <dd class="govuk-summary-list__value">
          Regent campus
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">View on a map</a>
        </dd>
      </div>
    </dl>
  </div>
</div>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
 <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Course details
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Delivery method
        </dt>
        <dd class="govuk-summary-list__value">
          Classroom based 
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          Not provided        
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          3 years
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hours
        </dt>
        <dd class="govuk-summary-list__value">
          Full time
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
  </div>
</div>
</div>
</div>
   

     <button type="submit" href="#"class="govuk-button" data-module="govuk-button">
       Go to course
      </button>

    <p>These details are added by the course provider. For further information or if you need support with this course, you should contact the provider directly.</p>

  </div>
{% endblock %}
