{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}
{% endblock %}

{% block content %}
  <section class="fcat-course-page__hero">
    <div class="govuk-width-container fcat-course-page__hero-inner fcat-course-page__hero-inner--compact">
      <div class="fcat-course-page__hero-copy">
        <h1 class="govuk-heading-xl fcat-course-page__hero-title">Creative Writing SMLH01CGP</h1>
      </div>
      
    </div>
  </section>
  <div class="govuk-width-container">
    {% set eligibilityHtml %}<h2 class="govuk-heading-m">Eligibility and funding</h2><p class="govuk-body">All information shown within these results is taken from a third party. You can check with the course or training provider for rules about funding and eligibility.</p>{% endset %}
    {{ govukInsetText({ html: eligibilityHtml }) }}
  </div>
  <div class="govuk-width-container fcat-course-detail__content">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">About the course</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Course type</dt>
            <dd class="govuk-summary-list__value">Not provided</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Level</dt>
            <dd class="govuk-summary-list__value">Entry level</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Entry requirements</dt>
            <dd class="govuk-summary-list__value">A Pre Course Assessment is required before joining this class.</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cost</dt>
            <dd class="govuk-summary-list__value">£75.00</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Overview</dt>
            <dd class="govuk-summary-list__value">Fluency in written and spoken English is needed for this course as well as an existing interest in fiction, poetry and/or drama. Some IT skills would be of benefit.</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Location</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Provider</dt>
            <dd class="govuk-summary-list__value fcat-course-detail__value-with-action">
              <span>LEWISHAM LONDON BOROUGH COUNCIL</span>
              <a class="govuk-link fcat-course-detail__side-link" href="#" target="_blank" rel="noopener noreferrer">View website</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Provider location</dt>
            <dd class="govuk-summary-list__value fcat-course-detail__value-with-action">
              <span>Grove Park Centre,<br>Coopers Lane School,<br>Pragnell Road,<br>London,<br>SE12 0LF</span>
              <a class="govuk-link fcat-course-detail__side-link" href="https://maps.google.com/?q=London" target="_blank" rel="noopener noreferrer">View on a map</a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Course details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Delivery methods</dt>
                <dd class="govuk-summary-list__value">Classroom based</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Start date</dt>
                <dd class="govuk-summary-list__value">20 May 2026</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Duration</dt>
                <dd class="govuk-summary-list__value">2 months</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">Part time</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="fcat-course-detail__actions">
      {{ govukButton({ text: "Go to course", href: "https://nationalcareers.service.gov.uk/find-a-course", classes: "fcat-course-detail__cta-button" }) }}
    </div>

    <p class="govuk-body fcat-course-detail__provider-note">These details are added by the course provider. For further information or if you need support with this course, you should contact the provider directly.</p>

  </div>
{% endblock %}
