{% extends "layouts/main.html" %}

{% block pageTitle %}English Skills: Creative Writing – Find courses and training – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back to search results", href: "/Search_results" }) }}
{% endblock %}

{% block content %}
   <section class="fac-course-details-hero">
    <div class="govuk-width-container fcat-course-page__hero-inner fcat-course-page__hero-inner--compact">
      <div class="fcat-course-page__hero-copy">
        <h1 class="govuk-heading-xl fcat-course-page__hero-title">English Skills: Creative Writing</h1>
      </div>
      
    </div>
  </section>
  <div class="govuk-width-container">
    {% set eligibilityHtml %}<h2 class="govuk-heading-m">Eligibility and funding</h2><p class="govuk-body">All information shown within these results is taken from a third party. You can check with the course or training provider for rules about funding and eligibility.</p>{% endset %}
    {{ govukInsetText({ html: eligibilityHtml }) }}
  </div>
  <div class="govuk-width-container fcat-course-detail__content">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">About the course</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Course type</dt>
            <dd class="govuk-summary-list__value">
              Essential Skills<br>
              <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/about-essential-skills" target="_blank" rel="noopener noreferrer">Learn about Essential Skills (opens in new tab)</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Level</dt>
            <dd class="govuk-summary-list__value">1</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Entry requirements</dt>
            <dd class="govuk-summary-list__value">You will need to be working at Entry 3 or above and will need to do an English initial assessment to check your level.</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cost</dt>
            <dd class="govuk-summary-list__value">£204.60</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Overview</dt>
            <dd class="govuk-summary-list__value">Are you looking for inspiration to write your own poems or stories? Would you like to know more about how poetry and fiction work, and receive feedback on your drafts in a supportive workshop environment? If your English lets you down and gets in the way of your creativity, this is the course for you.</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Location</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Provider</dt>
            <dd class="govuk-summary-list__value fcat-course-detail__value-with-action">
              <span>Richmond and Hillcroft Adult and Community College</span>
              <a class="govuk-link fcat-course-detail__side-link" href="https://www.racc.ac.uk/" target="_blank" rel="noopener noreferrer">View website</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Provider location</dt>
            <dd class="govuk-summary-list__value fcat-course-detail__value-with-action">
              <span>Parkshot,<br>Richmond,<br>Surrey,<br>TW9 2RE</span>
              <a class="govuk-link fcat-course-detail__side-link" href="https://maps.google.com/?q=Parkshot,Richmond,Surrey,TW9+2RE" target="_blank" rel="noopener noreferrer">View on a map</a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Course details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Delivery methods</dt>
                <dd class="govuk-summary-list__value">Classroom based</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Start date</dt>
                <dd class="govuk-summary-list__value">22 April 2025</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Duration</dt>
                <dd class="govuk-summary-list__value">2 months</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">Part time</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="fcat-course-detail__actions">
      {{ govukButton({ text: "Go to course", href: "https://nationalcareers.service.gov.uk/find-a-course" }) }}
    </div>

    <p class="govuk-body fcat-course-detail__provider-note">These details are added by the course provider. For further information or if you need support with this course, you should contact the provider directly.</p>

  </div>
{% endblock %}
