{% extends "layouts/main.html" %}

{% block mainClass %}ncs-course-page{% endblock %}

{% block content %}
  <section class="ncs-course-page__hero">
    <div class="govuk-width-container ncs-course-page__hero-inner">
      <div class="ncs-course-page__hero-copy">
        <h1 class="govuk-heading-xl ncs-course-page__hero-title">Find courses and training</h1>
        <p class="govuk-body-l ncs-course-page__hero-text">Search for courses and training, including apprenticeships, and get support with your choices.</p>
      </div>
      <div class="ncs-course-page__hero-icon-wrap" aria-hidden="true">
        <img src="/public/images/FCat_Logo_large.png" alt="" class="ncs-course-page__hero-icon">
      </div>
    </div>
  </section>

  <section class="ncs-course-page__intro-section">
    <div class="govuk-width-container ncs-course-page__intro-layout">
      <div class="ncs-course-page__intro-main">
        <img src="/public/images/FCaT-home-image.jpg" alt="" class="ncs-course-page__intro-image">
        <p class="govuk-body ncs-course-page__intro-text">Choose how you'd like to find courses and training. Do a quick search and get to your results and filter quickly. For more support, choose guided search to get to a list of courses and training for you.</p>
        <div class="ncs-course-page__option-cards">
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-s">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/Quick_search">Quick search</a>
              </h2>
              <p class="govuk-body">Enter search terms for a faster way to get your results and filter them. This option may be best if you already have ideas, or have used this tool before.</p>
            </div>
          </div>
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h2 class="govuk-heading-s">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/Guided_Search/Guided_search_start">Guided search</a>
              </h2>
              <p class="govuk-body">A step by step way to get your results. With the information you provide, you'll see a list of opportunities to suit your needs.</p>
            </div>
          </div>
        </div>
      </div>

      <aside class="ncs-course-page__adviser-aside">
        <div class="ncs-course-page__adviser-header">
          <h2 class="govuk-heading-m ncs-course-page__adviser-title">Speak to an adviser</h2>
          <svg class="ncs-course-page__adviser-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.38 44.9" width="84" height="68" aria-hidden="true" focusable="false">
            <defs><style>.cls-1{fill:#003078;stroke-width:0px;}</style></defs>
            <path class="cls-1" d="M50.3,8.5h-8.73c-.3-4.74-4.24-8.5-9.06-8.5H9.09C4.08,0,0,4.08,0,9.09v14.12c0,4.64,3.5,8.49,8.01,9.02v11.18l10.56-11.12h1.71c1.03,2.63,3.59,4.5,6.59,4.5h14.81l7.7,8.11v-8.11h.92c3.91,0,7.09-3.17,7.09-7.09v-14.12c0-3.91-3.17-7.09-7.09-7.09ZM16.84,28.3l-4.84,5.1v-5.1h-2.92c-2.8,0-5.09-2.28-5.09-5.08v-14.12c0-2.8,2.28-5.09,5.09-5.09h23.43c2.8,0,5.09,2.28,5.09,5.09v14.12c0,2.8-2.28,5.08-5.09,5.08h-15.67Z"/>
            <path class="cls-1" d="M11.49,12.45c-1.71,0-3.09,1.39-3.09,3.09s1.39,3.09,3.09,3.09,3.09-1.39,3.09-3.09-1.39-3.09-3.09-3.09Z"/>
            <path class="cls-1" d="M20.74,12.45c-1.71,0-3.09,1.39-3.09,3.09s1.39,3.09,3.09,3.09,3.09-1.39,3.09-3.09-1.39-3.09-3.09-3.09Z"/>
            <circle class="cls-1" cx="29.99" cy="15.55" r="3.09"/>
          </svg>
        </div>
        <p class="govuk-body">Wherever you are with your decisions, you can <a class="govuk-link" href="#">contact us</a> to get advice from a careers adviser.</p>
        <p class="govuk-body">Call <a class="govuk-link" href="tel:08001009000">0800 100 900</a> or <a class="govuk-link" href="#">use webchat</a> to talk online.</p>
      </aside>
    </div>
  </section>

  <section class="ncs-course-page__support-section">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <article class="ncs-course-page__support-card">
            <img src="https://cdn.nationalcareers.service.gov.uk/media/find-a-course/landing-page/desktop/get-course-support-card-desktop.png" alt="" class="ncs-course-page__support-card-image" role="presentation">
            <div class="ncs-course-page__support-card-body">
              <h2 class="govuk-heading-s ncs-course-page__support-card-title">
                <a class="govuk-link govuk-link--no-visited-state" href="https://nationalcareers.service.gov.uk/find-a-course">Get course or training support</a>
              </h2>
              <p class="govuk-body ncs-course-page__support-card-text">See what support you can get with funding, childcare or disability adjustments. Or, get help to choose the course or training that best suits you.</p>
            </div>
          </article>
        </div>
        <div class="govuk-grid-column-one-half">
          <article class="ncs-course-page__support-card">
            <img src="/public/images/UCaTT.png" alt="" class="ncs-course-page__support-card-image" role="presentation">
            <div class="ncs-course-page__support-card-body">
              <h2 class="govuk-heading-s ncs-course-page__support-card-title">
                <a class="govuk-link govuk-link--no-visited-state" href="https://nationalcareers.service.gov.uk/careers-advice">Understand course and training types</a>
              </h2>
              <p class="govuk-body ncs-course-page__support-card-text">Visit Skills for Careers to find out more about the different course types and training options.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
