{% extends "layouts/main.html" %}

{% set pageName = "T Level Digital - Digital Production, Design and Development" %}

{% block pageTitle %}T Level Digital - Digital Production, Design and Development – Find courses and training – GOV.UK{% endblock %}

{% block mainClass %}govuk-!-padding-top-0{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back to search results", href: "/Search_results" }) }}
{% endblock %}

{% block content %}
  <section class="fcat-course-details-hero">
    <div class="govuk-width-container fcat-course-page__hero-inner fcat-course-page__hero-inner--compact">
      <div class="fcat-course-page__hero-copy">
        <h1 class="govuk-heading-xl fcat-course-page__hero-title">T Level Digital - Digital Production, Design and Development
</h1>
      </div>
    </div>
  </section>
  <div class="govuk-width-container">
  <div class="govuk-inset-text">
    <div class="govuk-!-padding-bottom-1"></div>
All information on this page has been provided by a third party. For further information, or if you need support with this course, such as funding or eligibility, you should contact the provider directly.  </div>
</div>
  </div>

  <div class="govuk-width-container">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">About the course</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Course type</dt>
            <dd class="govuk-summary-list__value">
              T Level<br>
              <a class="govuk-link" href="https://www.skillsforcareers.education.gov.uk/pages/training-choice/apprenticeship" target="_blank" rel="noopener noreferrer">Learn about Apprenticeships (opens in new tab)</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Level</dt>
            <dd class="govuk-summary-list__value">3</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Entry requirements</dt>
            <dd class="govuk-summary-list__value">Five GCSEs at grade 5 or above, including Maths. English grade 4. 
              The applicant must be able to demonstrate an interest in coding (Exceptions to entry requirements onto our level 3 qualifications may be considered)</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cost</dt>
            <dd class="govuk-summary-list__value">Contact provider</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Overview</dt>
            <dd class="govuk-summary-list__value">This T Level is for students with an interest in technology and digital innovation. If you have an interest in coding, digital design, and development, and you aspire to work in the tech industry, 
              this course is ideal for you. The T Level is a 2-year programme and will include a 9 week (minimum) industry placement as well as a Technical Qualification.</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Location</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Provider</dt>
            <dd class="govuk-summary-list__value fcat-course-detail__value-with-action">
              <span>ERNEST BEVIN ACADEMY</span>
            </dd>
           <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">View website</a>
        </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Provider location</dt>
            <dd class="govuk-summary-list__value fcat-course-detail__value-with-action">
              <span>Ernest Bevin Academy,<br>Beechcroft Road,<br>London,<br>SW17 7DF</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="https://maps.google.com/?q=Ernest+Bevin+Academy,Beechcroft+Road,London,SW17+7DF" target="_blank" rel="noopener noreferrer">View on a map</a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Course details</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Learning method</dt>
                <dd class="govuk-summary-list__value">Classroom based</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Start date</dt>
                <dd class="govuk-summary-list__value">4 September 2026</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Duration</dt>
                <dd class="govuk-summary-list__value">2 years</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">Full time</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>

     <button type="submit" href="#"class="govuk-button" data-module="govuk-button">
       Go to course
      </button>

    <p>These details are added by the course provider. For further information or if you need support with this course, you should contact the provider directly.</p>

  </div>
{% endblock %}
