{% extends "layouts/main.html" %}

{% block pageTitle %}How far would you be able to travel? – Find courses and training – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/Guided_Search/Location" }) }}
{% endblock %}

{% block mainClass %}{% endblock %}

{% block content %}
  <section class="fac-course-details-hero">
    <div class="govuk-width-container fcat-course-page__hero-inner">
      <div class="fcat-course-page__hero-copy">
        <h1 class="govuk-heading-xl fcat-course-page__hero-title">How far would you be able to travel?</h1>
      </div>
      <div class="fcat-course-page__hero-icon-wrap" aria-hidden="true">
        <img src="/public/images/FCat_Logo_large.png" alt="" class="fcat-course-page__hero-icon">
      </div>
    </div>
  </section>

  <div class="govuk-width-container govuk-!-margin-top-6">
    <p class="govuk-body">How far do you want to travel from <strong>{{ data['location'] }}</strong>?</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <form method="post" action="/Guided_Search/Distance{{ '?returnTo=' + query.returnTo if query.returnTo }}">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {{ govukRadios({
            name: "distance",
            fieldset: {
              legend: {
                text: "How far would you be able to travel?",
                classes: "govuk-visually-hidden"
              }
            },
            items: [
              { value: "2", text: "Up to 2 miles", checked: data['distance'] == "2" },
              { value: "5", text: "Up to 5 miles", checked: data['distance'] == "5" },
              { value: "10", text: "Up to 10 miles", checked: data['distance'] == "10" },
              { value: "15", text: "Up to 15 miles", checked: data['distance'] == "15" },
              { value: "30", text: "Up to 30 miles", checked: data['distance'] == "30" },
              { value: "anywhere", text: "Search anywhere in England", checked: data['distance'] == "anywhere" }
            ]
          }) }}
          {{ govukButton({ text: "Continue" }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
