{% extends "layouts/main.html" %}

{% block pageTitle %}Guided search – Find courses and training – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/FindCoursesandTraining" }) }}
{% endblock %}

{% block mainClass %}{% endblock %}

{% block content %}
  <section class="fac-course-details-hero">
    <div class="govuk-width-container fcat-course-page__hero-inner">
      <div class="fcat-course-page__hero-copy">
        <h1 class="govuk-heading-xl fcat-course-page__hero-title">Find courses and training</h1>
        <p class="govuk-body-l fcat-course-page__hero-text">Give information which will help show you courses and training which best suits you.</p>
      </div>
      <div class="fcat-course-page__hero-icon-wrap" aria-hidden="true">
        <img src="/public/images/FCat_Logo_large.png" alt="" class="fcat-course-page__hero-icon">
      </div>
    </div>
  </section>

  <div class="govuk-width-container govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Guided search</h2>
        <p class="govuk-body">Over the next few pages, you'll be asked for some information which will help show the course or training opportunities most suitable for you.</p>
        <p class="govuk-body">These will include questions like your location, interests and the course types you wish to see.</p>
        <p class="govuk-body">You'll then be shown a list of relevant courses, with the chance to use or change your filters.</p>
        <h3 class="govuk-heading-m">How long this will take</h3>
        <p class="govuk-body">We estimate this process will take 5 minutes to complete. However, it can vary from person to person.</p>
        {{ govukButton({ text: "Start now", href: "/Guided_Search/Location" }) }}
        <p class="govuk-body">Find out <a class="govuk-link" href="/How_we_use_AI">how we use AI</a> to bring you results.</p>
      </div>
    </div>
  </div>
<section class="fcat-course-page__support-section">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <article class="fcat-course-page__support-card">
                <img src="https://cdn.nationalcareers.service.gov.uk/media/find-a-course/landing-page/desktop/get-course-support-card-desktop.png" alt="" class="fcat-course-page__support-card-image">
                <div class="fcat-course-page__support-card-body">
                  <h2 class="fcat-course-page__support-card-title">
                    <a href="https://nationalcareers.service.gov.uk/find-a-course/course-support" target="_blank" rel="noopener noreferrer">Get course or training support (opens in new tab)</a>
                  </h2>
                  <p class="govuk-body govuk-!-margin-bottom-0">See what support you can get with funding, childcare or disability adjustments. Or, get help to choose the course or training that best suits you.</p>
                </div>
              </article>
            </div>
            <div class="govuk-grid-column-one-half">
              <article class="fcat-course-page__support-card">
                <img src="/public/images/UCaTT.png" alt="" class="fcat-course-page__support-card-image">
                <div class="fcat-course-page__support-card-body">
                  <h2 class="fcat-course-page__support-card-title">
                    <a href="https://nationalcareers.service.gov.uk/careers-advice" target="_blank" rel="noopener noreferrer">Understand course and training types (opens in new tab)</a>
                  </h2>
                  <p class="govuk-body govuk-!-margin-bottom-0">Visit Skills for Careers to find out more about the different course types and training options.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
