{% extends "layouts/main.html" %}

{% block pageTitle %}Add search terms – Find courses and training – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/Guided_Search/Distance" }) }}
{% endblock %}

{% block mainClass %}{% endblock %}

{% block content %}
  <section class="fac-course-details-hero">
    <div class="govuk-width-container fcat-course-page__hero-inner">
      <div class="fcat-course-page__hero-copy">
        <h1 class="govuk-heading-xl fcat-course-page__hero-title">Add search terms</h1>
        <p class="govuk-body-l fcat-course-page__hero-text">Search for courses and training by telling us up to 3 key search terms.</p>
      </div>
      <div class="fcat-course-page__hero-icon-wrap" aria-hidden="true">
        <img src="/public/images/FCat_Logo_large.png" alt="" class="fcat-course-page__hero-icon">
      </div>
    </div>
  </section>

  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-6 govuk-!-padding-bottom-4">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You can search by things like school subjects, practical skills, hobbies and interests to find courses and training that could be right for you.</p>
        <p class="govuk-body">Be as specific or as broad as you like. The terms do not have to link to each other, they can all be totally different things if you’d prefer.</p>
        <p class="govuk-body">The search terms search will use AI, helping to bring back results most relevant to you.</p>
        <p class="govuk-body">For example, you could enter:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>maths</li>
          <li>bricklaying</li>
          <li>working with animals</li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <form method="post" action="/Guided_Search/Interests{{ '?returnTo=' + query.returnTo if query.returnTo }}">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {{ govukInput({ label: { text: "Search term 1", classes: "govuk-label--m" }, id: "interest-1", name: "interest1", value: data['interest1'] }) }}
          {{ govukInput({ label: { text: "Search term 2 (optional)", classes: "govuk-label--m" }, id: "interest-2", name: "interest2", value: data['interest2'] }) }}
          {{ govukInput({ label: { text: "Search term 3 (optional)", classes: "govuk-label--m" }, id: "interest-3", name: "interest3", value: data['interest3'] }) }}
          {{ govukButton({ text: "Continue", isStartButton: false }) }}
           <p class="govuk-body">Find out <a class="govuk-link" href="/How_we_use_AI">how we use AI</a> to bring you results.</p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
