{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

<link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />

<div class="govuk-template__body">
  <script>
    document.querySelector('.govuk-template__body').className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  </script>

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  <header class="govuk-template__header">
    <div class="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-header__homepage-link fcat-homepage__department-link">
            <img src="https://cdn.signin.education.gov.uk/12.0.10/assets/images/department-for-education_white.png" alt="Department for Education" height="32" class="fcat-homepage__department-logo">
          </a>
        </div>
      </div>
    </div>

    {{ govukServiceNavigation({
      serviceName: "Get careers information, advice and guidance",
      serviceUrl: "https://nationalcareers.service.gov.uk",
      navigation: [
        { href: "/FCAT_Homepage", text: "Homepage", active: true },
        { href: "https://nationalcareers.service.gov.uk/explore-careers", text: "Explore careers" },
        { href: "https://nationalcareers.service.gov.uk/discover-your-skills-and-careers", text: "Skills assessment" },
        { href: "/FindCoursesandTraining", text: "Find courses and training" },
        { href: "https://nationalcareers.service.gov.uk/careers-advice", text: "Careers advice" },
        { href: "https://nationalcareers.service.gov.uk/contact-us", text: "Contact us" }
      ]
    }) }}

    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: { text: "Beta" },
        html: 'How could we improve this service? Your <a class="govuk-link" href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_4TMvchACdXh77Ya">feedback</a> will help.'
      }) }}
    </div>
  </header>

  {% block content %}{% endblock %}

  {{ govukFooter({
    meta: {
      items: [
        { href: "https://nationalcareers.service.gov.uk/about-us", text: "About us" },
        { href: "https://nationalcareers.service.gov.uk/help", text: "Help" },
        { href: "https://nationalcareers.service.gov.uk/help/cookies", text: "Privacy and cookies" },
        { href: "https://nationalcareers.service.gov.uk/help/accessibility", text: "Accessibility statement" },
        { href: "https://nationalcareers.service.gov.uk/help/terms-and-conditions", text: "Terms and conditions" },
        { href: "https://nationalcareers.service.gov.uk/help/information-sources", text: "Information sources" },
        { href: "https://www.myworldofwork.co.uk/", text: "Scotland" },
        { href: "https://careerswales.gov.wales/", text: "Wales" },
        { href: "https://www.nidirect.gov.uk/campaigns/careers", text: "Northern Ireland" }
      ]
    }
  }) }}
</div>

<script src="https://cdn.jsdelivr.net/npm/govuk-frontend@6.1.0/dist/govuk/govuk-frontend.min.js"></script>
<script type="module">
  import { initAll } from 'https://cdn.jsdelivr.net/npm/govuk-frontend@6.1.0/dist/govuk/govuk-frontend.min.js';
  initAll();
</script>
{% block pageScripts %}{% endblock %}
