{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}Find courses and training – National Careers Service – GOV.UK{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
  <header class="govuk-template__header">
    <div class="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="https://www.gov.uk/government/organisations/department-for-education" class="fcat-homepage__department-link">
            <img src="https://cdn.signin.education.gov.uk/12.0.10/assets/images/department-for-education_white.png" alt="Department for Education" height="32">
          </a>
        </div>
      </div>
    </div>

    {% block serviceNav %}
    {{ govukServiceNavigation({
      serviceName: "Get careers information, advice and guidance",
      serviceUrl: "https://nationalcareers.service.gov.uk",
      navigation: [
        { href: "/FCAT_Homepage", text: "Homepage" },
        { href: "https://nationalcareers.service.gov.uk/explore-careers", text: "Explore careers" },
        { href: "https://nationalcareers.service.gov.uk/discover-your-skills-and-careers", text: "Skills assessment" },
        { href: "/FindCoursesandTraining", text: "Find courses and training", active: true },
        { href: "https://nationalcareers.service.gov.uk/careers-advice", text: "Careers advice" },
        { href: "https://nationalcareers.service.gov.uk/contact-us", text: "Contact us" }
      ]
    }) }}
    {% endblock %}

    <div class="govuk-width-container">
      {% block phaseBanner %}
      {{ govukPhaseBanner({
        tag: { text: "Beta" },
        html: 'This is a new service - your <a class="govuk-link" href="https://dferesearch.fra1.qualtrics.com/jfe/form/SV_4TMvchACdXh77Ya">feedback</a> will help us to improve it.'
      }) }}
      {% endblock %}
    </div>
  </header>
{% endblock %}

{% block container %}
  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
  </div>
  <main class="govuk-main-wrapper {% block mainClass %}{% endblock %}" id="main-content">
    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block govukFooter %}
  {{ govukFooter({
    meta: {
      items: [
        { href: "https://nationalcareers.service.gov.uk/about-us", text: "About us" },
        { href: "https://nationalcareers.service.gov.uk/help", text: "Help" },
        { href: "https://nationalcareers.service.gov.uk/help/cookies", text: "Privacy and cookies" },
        { href: "https://nationalcareers.service.gov.uk/help/accessibility", text: "Accessibility statement" },
        { href: "https://nationalcareers.service.gov.uk/help/terms-and-conditions", text: "Terms and conditions" },
        { href: "https://nationalcareers.service.gov.uk/help/information-sources", text: "Information sources" },
        { href: "https://www.myworldofwork.co.uk/", text: "Scotland" },
        { href: "https://careerswales.gov.wales/", text: "Wales" },
        { href: "https://www.nidirect.gov.uk/campaigns/careers", text: "Northern Ireland" }
      ]
    }
  }) }}
{% endblock %}

